<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>validateServlet</servlet-name>
        <servlet-class>Servlets.validateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratePaintingServlet</servlet-name>
        <servlet-class>Servlets.GeneratePaintingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePaintingServlet</servlet-name>
        <servlet-class>Servlets.RemovePaintingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPaintingServlet</servlet-name>
        <servlet-class>Servlets.AddPaintingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatePaintingServlet</servlet-name>
        <servlet-class>Servlets.ValidatePaintingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validateServlet</servlet-name>
        <url-pattern>/validateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratePaintingServlet</servlet-name>
        <url-pattern>/GeneratePaintingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePaintingServlet</servlet-name>
        <url-pattern>/RemovePaintingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPaintingServlet</servlet-name>
        <url-pattern>/AddPaintingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatePaintingServlet</servlet-name>
        <url-pattern>/ValidatePaintingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
